@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header > h1 {
    font-family: 'Passion One';
    font-weight: bold;
    font-size: 106px;
}

header > h2 {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: 100;
}

h2 > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h2 > a:hover {
    text-decoration: underline;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: -80px;
    
}

#primeiraparte {
    font-family: 'Sriracha';
    font-size: 22px;
}

#segundaparte {
    font-family: 'Sriracha';
    font-size: 22px;
}

#terceiraparte {
    font-family: 'Sriracha';
    font-size: 22px;
}

#quartaparte {
    font-family: 'Sriracha';
    font-size: 22px;
}

#quintaparte {
    font-family: 'Sriracha';
    font-size: 22px;
}

