@font-face {
    font-family: 'Timeburner';
    src: url('fontes/timeburnernormal.ttf') format('truetype'), url('fontes/timeburnerbold.ttf') format('truetype');
}

/* Cores:
- #87E752 -- verde
- #F9D4BB -- rosa*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: #F9D4BB; /*ficou ruim, mexer depois*/
    font-family: verdana;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header > h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}

.material-symbols-rounded {
    font-size: 25px;
    margin: 3px;
    color: white;
}

#menu-centro {
    background-color: #86e7528e;
    padding: 10px;
    margin-top: 20px;
}

.menu-centro-links {
    text-decoration: none;
    margin: 3px;
    padding: 10px;
    color: white;
}

.menu-centro-links:hover {
    background-color: #f9d4bbc0;
    transition: .4s;
    padding: 15px;
}

.esquerda {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 10px;
}

main h2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

main p {
    font-size: 14px;
    text-indent: 30px;
    margin-bottom: 30px;
    text-align: justify;
}

#pbotao {
    margin-top: 10px;
    font-size: 9px;
    font-weight: bold;
}

#botao {
    color: rgba(255, 255, 255, 0.815);
    border: none;
    background-color: rgba(0, 0, 0, 0.678);
    padding: 10px;
    border-radius: 5px;  
    margin-right: 10px; 
    margin-left: -30px;
}

#botao:hover {
    cursor: pointer;
    background-color: #74b452da;
    transition: .3s;
}

.meio {
    display: none;
}

.direita {
    position: absolute;
    left: 73%;
    top: 350px;
}

.direita-cima {
    background-color: #9999c3ce;
    margin-bottom: 40px;
    border-radius: 20px;
}

.direita-cima p {
    margin: 5px;
    font-size: 12px;
    width: 150px;
    padding: 16px;
    margin-left: -30px;
}

#ingre {
    font-size: 10px;
}

#org {
    font-size: 10px;
    font-weight: bolder;
}

.direita-baixo {
    background-color: #9999c3ce;
    border-radius: 20px;
}

.direita-baixo p {
    margin: 5px;
    font-size: 12px;
    width: 150px;
    padding: 16px;
    margin-left: -30px;
}

#sab {
    font-size: 10px;
}

#var {
    font-size: 10px;
    font-weight: bolder;
}


@media screen and (min-width: 768px) {
    #menu-centro {
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 90px;
        background-color: transparent;
    }

    .menu-centro-links {
        color: black;
    }

    .menu-centro-links:hover {
        background-color: #86e7525d;
        border-radius: 10px;
    }

    .esquerda {
        padding: 50px;
    }
    
    main h2 {
        text-align: left;
    }

    main p {
        text-indent: 0px;
        width: 300px;
    }

    #pbotao {
        margin-left: 30px;
        font-size: 15px;
    }

    #botao {
        margin-right: 30px;
    }

    .meio {
        display: block;
    }
}
