@charset "UTF-8";

/*Mobile First*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(128, 128, 128, 0.356);
}

header {
    background-color: rgba(128, 128, 128, 0.658);
}

header > h1 {
    text-align: center;
    padding-top: 10px;
}

#burguer {
    background-color: rgb(87, 84, 84);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

#burguer:hover {
    background-color: rgba(255, 255, 255, 0.281);
}

nav {
    display: none; 
}

nav > a {
    display: block;
    text-align: center;
    background-color: rgba(83, 82, 82, 0.301);
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav > a:hover {
    background-color: grey;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    line-height: 1.3em;
    border-radius: 10px;
}

article p {
    text-indent: 35px;
    margin-top: 20px;
    text-align: justify;
}